/*MAIN-SERVICIOS*/

.main-servicios{
    .servicios{
        background: linear-gradient(90deg, $color-principal 0%, $color-principal 30%, #9d9ea0 30%, #9d9ea0 100%);
        padding:40px;
        color: #f8f9fa;
        font-size: 1.1rem;
    }
}